.container{
    padding: 5%;
}

.checkin-container {
   
    
    margin: 0 auto;
    padding: 6%;
    width: 80%;
    text-align: center;
}

.card-title{
    color: #084887;
    font-weight: bold;
}

.design{
    width: 100%;
    height:100vh;
      
    background-image: url("/assets/backgrounds/bg2.svg");
    background-repeat: no-repeat;
    background-size:cover;
  
}
ul>li:hover {
    cursor:pointer;
    font-weight: bold;
   
    
}

ul{
    list-style: none;
}