<div class="design">
  <header class="d-flex">
    <ul>
      <li><h1>dashboard</h1></li>
      <li (click)="goCheckIn()">check-in</li>
      <li (click)="logout()">logout</li>
    </ul>
  </header>
  <div class="d-flex container justify-content-around mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Invited</h5>
        <h1 class="card-text">{{ totalInvited }}</h1>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Accepted</h5>
        <h1 class="card-text">{{ attending }}</h1>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Arrived</h5>
        <h1 class="card-text">1/{{ attending }}</h1>
        <!-- <div id="chartContainer" style="height: 250px; width: 100%;"></div> -->
      </div>
    </div>
  </div>

  <div class="d-flex container justify-content-around mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Get full details of your guests</h5>
        <button class="btn btn-primary" (click)="downloadCSV()">
          Download
        </button>
        <!-- <div id="chartContainer" style="height: 250px; width: 100%;"></div> -->
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Upload your guest details</h5>
        <input type="file" #file name="csvfile" id="csvfile" (change)="handleCSVInput($event)">
        <button class="btn btn-warning" (click)="uploadCSV(file)">
          Upload
        </button>
        <!-- <div id="chartContainer" style="height: 250px; width: 100%;"></div> -->
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Generate RSVP Link</h5>
        <form [formGroup]="generateLinkForm">
          <div class="input-group mb-3">
            <input
              id="typeahead-basic"
              placeholder="enter invitee's name"
              type="text"
              class="form-control"
              [ngbTypeahead]="search"
              formControlName="name"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="generateLink()"
                data-bs-toggle="collapse"
                aria-expanded="false"
                aria-controls="collapseExample"
                data-bs-target="#collapseExample"
                [disabled]="generateLinkForm.invalid"
              >
                +
              </button>
            </div>
          </div>

          <hr />

          <div
            class="collapse"
            [ngbCollapse]="isCollapsed"
            id="collapseExample"
          >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="link"
                id="rsvpLink"
                placeholder="Recipient's username"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                #link
              />
              <div class="input-group-append">
                <button
                  aria-expanded="false"
                  aria-controls="collapseExample"
                  data-bs-target="#collapseExample"
                  data-bs-toggle="collapse"
                  class="btn btn-outline-secondary"
                  type="button"
                  (click)="copy(link)"
                >
                  copy
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
