<app-template-one [mainTitle]="rsvpTitle"></app-template-one>

<div *ngIf="!tokenValid; else elseBlock" class="expired-container">
    <h2>Uh Oh.. This link is no longer valid</h2>
    <img src="/assets/images/expired.png" alt="expired" width=20% height=20%>
</div>

<ng-template #elseBlock>
    <div class="d-flex" >
  <div class="form-container">
    <h2>We hope to see you on our special day</h2>

    <form [formGroup]="rsvpForm" (ngSubmit)="rsvp()" class="mt-3">
      <div class="form-group">
        
        <input
          type="text"
          formControlName="firstName"
          id="firstName"
          class="form-control"
          placeholder="Enter first name"
        />
      </div>
      <div class="form-group">
    
        <input
          type="text"
          formControlName="lastName"
          id="lastName"
          class="form-control"
          placeholder="Enter last name"
        />
      </div>

      <div class="form-group">
        
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
          placeholder="Enter email address"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>

      
      <label> Food &nbsp; </label><br>

      <div
        class="custom-control custom-radio custom-control-inline"
        *ngFor="let f of foodPref; i as index"
      >
        <input
          type="radio"
          formControlName="foodId"
          class="custom-control-input"
          value="{{ f.id }}"
          id="{{f.food_type}}"
        />
        <label class="custom-control-label" for="{{f.food_type}}">{{ f.food_type }}</label>
      </div>
      <br><br>

      <div class="form-group">
        <label>Allergies</label>
        <select formControlName="allergyId" class="custom-select">
          <option *ngFor="let a of allergies" value="{{ a.id }}">
            {{ a.allergy }}
          </option>
        </select>
      </div>
      

      <button class="btn btn-warning" type="submit" [disabled]="rsvpForm.invalid">
        I am attending
      </button>
    </form>
  </div>




  <div class="details-cont">     
      <img src="/assets/images/proposal.png" alt="wedding" width= "450" height="350">
      <table class="table-details">
        <tr>
          <th>Venue &nbsp;</th>
          <td>Regent Hotel, Singapore </td>
        </tr>
        <tr>
          <th>Date &nbsp;</th>
          <td>30th Jan 2040 , 7:00pm</td>
        </tr>
      </table>

      




  </div>
</div>
</ng-template>
