

header{
    position:relative;
    background-image: url("/assets/images/Group3.png");
    background-repeat: no-repeat;
    background-size: 100vw 29vh;
    width: 100%;
    height: 30vh;
    padding-right: 5%;
    
}
.header{
    display: flex;
    justify-content:space-between;
  
}
.expired-container{
    text-align: center;
    display: block;
    
}

h2{
    color: black;
}
h1{
    
}

.details{
    color:#f7f5fb;
}

/* .header{
    background-image: url('../../assets/images/Group3.png');
    background-repeat: no-repeat, repeat;
    border: 1px solid red;
    height: 100px;
    width: 100vw;
} */

.form-container{
  width: 50%;
  display:block;
  padding: 0 5%;
 
  
}

.details-cont{
    text-align:center;
    display:block;
}