header{
    position:relative;
    background-image: url("/assets/backgrounds/Group3.png");
    background-repeat: no-repeat;
    background-size: 100vw 29vh;
    width: 100%;
    height: 30vh;
    padding-right: 5%;
    
}
.header{
    display: flex;
    justify-content:space-between;
  
}