<app-template-one [mainTitle]="header"></app-template-one>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Relationship</th>

            <th scope="col">Meal</th>
            <th scope="col">Allergies</th>
            <th scope="col">Table</th>
            <th scope="col">Arrived</th>
          </tr>
        </thead>
        <tbody *ngFor="let d of data; index as i">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ d.first_name }} &nbsp; {{ d.last_name }}</td>
            <td>{{ d.email}}</td>
            <td>{{ d.type}}</td>
            <td>{{ d.food_type }}</td>
            <td>{{ d.allergy }}</td>
            <td>{{d.table}}</td>
            <td>
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                  checked
                />
                <label class="custom-control-label" for="customCheck1">1</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
